/**
 * Licensed to Jasig under one or more contributor license
 * agreements. See the NOTICE file distributed with this work
 * for additional information regarding copyright ownership.
 * Jasig licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a
 * copy of the License at:
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on
 * an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.map-portlet .map-search {
  display:none;
  background-color:#fff;
}
.map-portlet .map-show-search .map-search {
  display:block;
}
.map-portlet .map-title {
  display:none;
  background-color:#fff;
}
.map-portlet .map-show-title .map-title {
  display:block;
}
.ui-mobile .map-portlet .map-search-results.out, .ui-mobile .map-categories.out, .ui-mobile .map-category-detail.out, .ui-mobile .map-location-detail.out {
  position:absolute;
  top:0;
  width:100%;
}
.ui-mobile .map-portlet .map-location-detail {
  background-color:#fff;
}

.ui-mobile .map-portlet {
  position: relative;
  margin-bottom:-57px;
}

.ui-mobile .map-portlet .map-search-results {
  background-color:#fff;
}
.ui-mobile .map-portlet .map-categories {
  background-color:#fff;
}
.ui-mobile .map-portlet .map-category-detail {
  background-color:#fff;
}
.ui-mobile .map-portlet .map-location-detail {
  background-color:#fff
}

.ui-mobile .map-portlet .map-fullscreen {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:0;
}
.ui-mobile .map-portlet .ui-bar {
  text-align: center;
}
.ui-mobile .map-portlet .ui-bar a.ui-btn {
  float: left;
}
.ui-mobile .map-portlet .map-box {
  border: 1px solid gray;
  padding: 2em;
}
.ui-mobile .map-portlet .map-box h3 {
  margin:0;
}
.ui-mobile .map-portlet .map-box + .map-box {
  margin-top:2em;
}
.ui-mobile .map-portlet .map-location-image {
  text-align:center;
}
.ui-mobile .map-portlet .map-search-form form {
  position: relative;
}
.map-portlet .map-display {
  height:500px;
}
.ui-mobile .map-portlet .map-fullscreen .portlet-content {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}
.ui-mobile .map-portlet .map-display {
  width:100%;
  height: 100%;
}
.ui-mobile .map-portlet .map-centered-buttons {
  text-align:center
}
.ui-mobile .map-portlet .map-centered-buttons div {
  width:100%
}
.map-portlet .ui-accordion li {
  display:block;
  width:100%;
}
.map-portlet .ui-accordion li a {
  display: block;
  padding:.5em 0 .5em 2em;
}
.map-portlet .ui-accordion li a.ui-corner-top {
  moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
