<?xml version="1.0" encoding="UTF-8"?>
<!--

    Licensed to Apereo under one or more contributor license
    agreements. See the NOTICE file distributed with this work
    for additional information regarding copyright ownership.
    Apereo licenses this file to you under the Apache License,
    Version 2.0 (the "License"); you may not use this file
    except in compliance with the License.  You may obtain a
    copy of the License at the following location:

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.

-->
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task" xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
           http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.1.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">

    <context:annotation-config/>
    <cache:annotation-driven/>

    <!-- taskScheduler loading of GoogleMyMapsDaoImpl deferred to use cache strategy instead
    <task:annotation-driven scheduler="taskScheduler"/>
    <task:scheduler id="taskScheduler" pool-size="5"/>
    -->

    <!-- mapmessages.propreties Configuration -->
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource"
        p:basename="message" p:useCodeAsDefaultMessage="true"/>

    <!-- Properties configuration -->
    <bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer"
        p:location="classpath:configuration.properties"/>

    <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">
        <property name="cacheManager" ref="ehcache"></property>
    </bean>

	<!-- EHCache Configuration -->
	<bean id="ehcache" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
		<property name="configLocation">
			<value>classpath:ehcache.xml</value>
		</property>
	</bean>

    <bean id="elementsProvider" class="org.jasig.resourceserver.utils.aggr.ResourcesElementsProviderImpl"/>

    <bean id="pageCachingFilter" class="org.jasig.portlet.maps.mvc.AggregationAwareFilterBean">
        <property name="elementsProvider" ref="elementsProvider"/>
        <property name="filter">
            <bean class="org.jasig.resourceserver.utils.cache.ConfigurablePageCachingFilter">
                <constructor-arg ref="ehcache"/>
                <constructor-arg value="org.jasig.portal.utils.cache.ConfigurablePageCachingFilter.PAGE_CACHE"/>
            </bean>
        </property>
    </bean>
    
    <bean id="CacheExpiresFilter" class="org.jasig.portlet.maps.mvc.AggregationAwareFilterBean">
        <property name="elementsProvider" ref="elementsProvider"/>
        <property name="filter">
            <bean class="org.jasig.resourceserver.utils.filter.PathBasedCacheExpirationFilter">
                <property name="cacheMaxAges">
                    <map>
                        <entry key="/**/*.aggr.min.js" value="31536000"/>
                        <entry key="/**/*.aggr.min.css" value="31536000"/>
                    </map>
                </property>
            </bean>
        </property>
    </bean>

    <!-- 
     | View resolvers, look for a named view bean before going to JSP resolution
     +-->
    <bean id="jspViewResolver"
        class="org.springframework.web.servlet.view.InternalResourceViewResolver"
        p:order="10" p:cache="true" p:viewClass="org.springframework.web.servlet.view.JstlView"
        p:prefix="/WEB-INF/jsp/" p:suffix=".jsp"/>

    <bean id="restTemplate" class="org.springframework.web.client.RestTemplate">
        <property name="messageConverters">
            <util:list>
                <bean class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter"/>
                <bean class="org.springframework.http.converter.xml.Jaxb2RootElementHttpMessageConverter"/>
            </util:list>
        </property>
    </bean>
	
	<bean class="org.jasig.portlet.maps.dao.RestfulJsonMapDaoImpl" p:restTemplate-ref="restTemplate"/>

    <!-- If using GoogleMyMapsDaoImpl you may want to increase the timeToLiveSeconds value in ehcache.xml
         to put less load on the system.
    -->
    <!--<bean class="org.jasig.portlet.maps.dao.GoogleMyMapsDaoImpl">-->
        <!--<property name="categories">-->
            <!--<map>-->
                <!--<entry key="enterCategory" value="enterValue"/>-->
            <!--</map>-->
        <!--</property>-->
    <!--</bean>-->


    <!-- 
     | View resolvers, look for a named view bean before going to JSP resolution
     +-->
    <bean class="org.springframework.web.servlet.view.XmlViewResolver"
            p:order="0" p:location="/WEB-INF/context/views.xml"/>

    <!-- JSP view resolver -->
    <bean id="viewResolver"
        class="org.springframework.web.servlet.view.InternalResourceViewResolver"
        p:order="10" p:cache="true" p:viewClass="org.springframework.web.servlet.view.JstlView"
        p:prefix="/WEB-INF/jsp/" p:suffix=".jsp"/>

</beans>
